{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react",
        "eslint-config-prettier"
    ],
    "parser": "babel-eslint",
    "plugins": ["react", "prettier"],
    "rules": {
        "linebreak-style": 0,
        "max-len": 0,
        "no-unused-vars": 1,
        "prettier/prettier": 1,
        "array-callback-return": 0,
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "react/prefer-stateless-function": 0,
        "react/prop-types": 1,
        "import/prefer-default-export": 0,
        "react/no-array-index-key": 0,
        "no-unused-expressions": 1,
        "react/destructuring-assignment": 0,
        "react/forbid-prop-types": 0
    },
    "env": {
        "jest": true
    }
}
